.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    height: 100%;
    margin: 0px;
    padding: 20px;
    background-color: #181818;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item-img {
    width: 152px;
    height: 152px;
    object-fit: cover;
}

.grid-container {
    display: grid;
    gap: 10px;
    transition: all 0.5s ease; /* Transition for smooth animation */
}

.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 22px
}

.carousel {
    grid-template-columns: repeat(9, 1fr);
}

.username-container {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    margin: 80px 0 40px 0;
}

.view-toggle {
    margin-bottom: 100px
}

.sign-out-button {
    width: 300px;
    height: 55px;
    gap: 10px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 22px;
    margin: 50px;
    background: #2B2B2B;
    color: white;
    border: 0;
}

.sign-out-button:hover {
    background: #252525;
}

@keyframes slideScroll {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(calc(-213px * 10), 0, 0);
    }
}
.slider {
    overflow: hidden;
    width: 100vw;
    display: flex;
}
.slider .slide-track {
    animation: slideScroll 40s linear infinite;
    display: inline-flex;
    width: calc((213px * (10 * 2)));
    gap:22px
}

.slider-reverse {
    transform: scaleX(-100%);
}
.slider-reverse .slide {
    transform: scaleX(-100%);
}

.media-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.media-popup-content {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    top: 26%;
    right: 25%;
    z-index: 101;
}

.video-js {
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    z-index: 100;
}
