.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* first number is column count */
  gap: 15px; /* space between grid items */
  transition: all 0.5s ease; /* transition for smooth animation */
}

.grid-item {
  display: flex;
  width: 20vw; /* size of grid item - use VW to make grid dynamic*/
  height:20vw; /* should match width above */
  align-content: center;
  justify-content: center;
  align-items: center;
}

.grid-item-img {
  width: 90%; /* percent of the grid item space the thumbnail covers */
  height: 90%; /* should match width above */
  object-fit: cover;
  cursor: pointer;
  transition: width 0.5s ease, height 0.5s ease;
}

.grid-item-img:hover {
  width: 100%; /* percent of the grid item space the thumbnail covers on hover */
  height: 100%; /* should match width above */
}

.slider-item {
  display: flex;
  width: 200px;
  height: 200px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.slider-item-img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  cursor: pointer;
  transition: width 0.5s ease, height 0.5s ease;
}

.slider-item-img:hover {
  width: 100%;
  height: 100%;
}

.carousel {
  grid-template-columns: repeat(9, 1fr);
}

@keyframes slideScroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-213px * 10), 0, 0);
  }
}
.slider {
  overflow: hidden;
  width: 100vw;
  display: flex;
}
.slider .slide-track {
  animation: slideScroll 40s linear infinite;
  display: inline-flex;
  width: calc((213px * (10 * 2)));
  gap: 22px;
}

.slider-reverse {
  transform: scaleX(-100%);
}
.slider-reverse .slide {
  transform: scaleX(-100%);
}
