.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    height: 100%;
    margin: 0px;
    padding: 20px;
    background-color: #181818;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    display: flex;
    width: 200px;
    height: 200px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.grid-item-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
    transition: width .5s ease, height .5s ease;
}

.grid-item-img:hover {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    gap: 10px;
    transition: all 0.5s ease; /* Transition for smooth animation */
}

.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 22px
}

.carousel {
    grid-template-columns: repeat(9, 1fr);
}

.username-container {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    margin: 80px 0 40px 0;
}

.view-toggle {
    margin-bottom: 100px;
    cursor: pointer
}

.sign-out-button {
    width: 300px;
    height: 55px;
    gap: 10px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 22px;
    margin: 50px;
    background: #2B2B2B;
    color: white;
    border: 0;
    cursor: pointer;
}

.sign-out-button:hover {
    background: #252525;
}

@keyframes slideScroll {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(calc(-213px * 10), 0, 0);
    }
}
.slider {
    overflow: hidden;
    width: 100vw;
    display: flex;
}
.slider .slide-track {
    animation: slideScroll 40s linear infinite;
    display: inline-flex;
    width: calc((213px * (10 * 2)));
    gap:22px
}

.slider-reverse {
    transform: scaleX(-100%);
}
.slider-reverse .slide {
    transform: scaleX(-100%);
}

.media-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.media-popup-content {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    top: 26%;
    right: 25%;
    z-index: 101;
    cursor: pointer;
}

.video-js {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.media-controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 12.5%;
    right: 50%;
    transform: translate(50%);
    z-index: 101;
    width: 120px;
    height: 60px;
    gap: 5px;
    padding: 0px 0px 0px 0px;
    border-radius: 90px;
    background-color: #99999995;
}

.doc-btn-icon {
    cursor: pointer;
}

.close-btn-icon {
    cursor: pointer;
}

@keyframes docPopupFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .85;
    }
}

.doc-popup {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    color: white;
    background-color: #505050;
    opacity: .85;
    pointer-events: none;
    transition: opacity .5s ease;
}

.doc-popup-transparent {
    opacity: 0;
}

.media-player-container {
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-icon-path {
    fill: white;
    transition: fill .5s ease;
}

.doc-open {
    fill: cornflowerblue;
}

.doc-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doc-info {
    margin: 0px;
    padding: 0;
}