.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #181818;
}

.username-container {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    margin: 80px 0 40px 0;
}

.view-toggle {
    margin-bottom: 100px;
    cursor: pointer
}

.sign-out-button {
    width: 300px;
    height: 55px;
    gap: 10px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 22px;
    margin: 50px;
    background: #2B2B2B;
    color: white;
    border: 0;
    cursor: pointer;
}

.sign-out-button:hover {
    background: #252525;
}

.sign-in-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 30%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 300px;
    height: 130px;
    border-radius: 22px;
}