# pip install -U Flask
# pip install requests
# pip install -U flask-cors
# pip install flask flask-socketio
# pip install Flask-SQLAlchemy
# pip install websockets

Flask==1.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.4.4
requests==2.24.0
websockets==8.1
flask-socketio==5.0.1