beautifulsoup4~=4.12
bidict~=0.23
blinker~=1.8
certifi~=2024.2
charset-normalizer~=3.3
click~=8.1
Flask~=3.0
Flask-Cors~=4.0
Flask-SocketIO~=5.3
google~=3.0
google-cloud~=0.34
h11~=0.14
idna~=3.7
itsdangerous~=2.2
Jinja2~=3.1
MarkupSafe~=2.1
python-engineio~=4.9
python-socketio~=5.11
requests~=2.31
simple-websocket~=1.0
soupsieve~=2.5
urllib3~=2.2
Werkzeug~=3.0
wsproto~=1.2
